---
import type { EventStoryblok, HomeEventsStoryblok } from "@/component-types";
import { useStoryblokGetStory } from "@/utils";
import { CalendarIcon, MapPinIcon } from "lucide-react";

const { blok } = Astro.props as { blok: HomeEventsStoryblok };

const eventsBlok = await useStoryblokGetStory("global/events");

const events = eventsBlok.data.story.content.global[0]
  .events as EventStoryblok[];
---

<div class="w-full flex flex-col gap-8 bg-background p-8">
  <h1 class="flex flex-row items-center gap-2 text-2xl font-bold">
    <CalendarIcon />
    Upcoming Events
  </h1>

  <div
    class="flex flex-row gap-8 items-center overflow-x-auto bg-background"
  >
    {
      events.map((event) => {
        return (
          <div class="shrink-0 w-96 flex flex-col rounded-xl overflow-hidden border-gray-200 border-2">
            <img
              src={event.image.filename}
              alt={event.image.alt}
              class="w-full h-full object-cover"
            />
            <div class="p-6 flex flex-col gap-2">
              <h1 class="text-xl font-bold truncate">{event.name}</h1>
              <span class="text-sm">
                {new Date(event.date ?? "").toLocaleString("en-US", {
                  month: "long",
                  day: "numeric",
                  year: "numeric",
                  hour: "numeric",
                  minute: "numeric",
                  hour12: true,
                })}
              </span>
            </div>
          </div>
        );
      })
    }
  </div>
</div>
