---
import type { EventStoryblok, HomeEventsStoryblok } from "@/component-types";
import { useStoryblokGetStory } from "@/utils";
import { CalendarIcon, MapPinIcon } from "lucide-react";

const { blok } = Astro.props as { blok: HomeEventsStoryblok };

const eventsBlok = await useStoryblokGetStory("global/events");

const events = eventsBlok.data.story.content.global[0]
  .events as EventStoryblok[];

const filteredEvents = events
  .filter((event) => new Date(event.date ?? "") > new Date())
  .sort((a, b) => new Date(a.date ?? "").getTime() - new Date(b.date ?? "").getTime());
---

<div class="w-full flex flex-col gap-8 p-8 bg-cover bg-background"
>
  <h1
    class="flex flex-col sm:flex-row sm:items-center gap-2 sm:gap-4 text-2xl font-bold"
  >
    <div class="flex flex-row gap-2 items-center">
      <CalendarIcon />
      Upcoming Events
    </div>
    <a href="/events" class="text-lg sm:text-sm">View All</a>
  </h1>

  <div class="flex flex-row gap-8 items-center overflow-x-auto bg-background">
    {
      filteredEvents.map((event) => {
        return (
          <div class="shrink-0 w-[80%] sm:w-96 flex flex-col rounded-xl overflow-hidden border-gray-200 border-2">
            <img
              src={event.image.filename}
              alt={event.image.alt}
              class="w-full h-full object-cover"
            />
            <div class="p-6 flex flex-col gap-2">
              <h1 class="text-xl font-bold truncate">{event.name}</h1>
              <span class="text-sm">
                {new Date(event.date ?? "").toLocaleString("en-US", {
                  month: "long",
                  day: "numeric",
                  year: "numeric",
                  hour: "numeric",
                  minute: "numeric",
                  hour12: true,
                })}
              </span>
            </div>
          </div>
        );
      })
    }
  </div>
</div>
