---
import type {
  BulletPointStoryblok,
  HomeMainTextStoryblok,
} from "@/component-types";
import { Button } from "@/components/ui/button";
import { renderRichText } from "@storyblok/astro";

const { blok } = Astro.props as { blok: HomeMainTextStoryblok };
const renderedRichText = renderRichText(blok.text);
---

<div class="flex flex-row gap-8 items-center">
  <div
    class="flex flex-col gap-4 w-full p-8 bg-[#FEFCF5]/80 rounded-t-xl py-16 items-center"
  >
    <div class="flex flex-row gap-8 items-center justify-center">
      <div class="flex flex-col gap-4 justify-start text-center">
        <h1 class="font-serif">
          {blok.headline}
        </h1>
        <h2 class="font-serif">{blok.call_to_action}</h2>
      </div>
    </div>
    <div class="mx-auto max-w-prose mt-8">
      <div set:html={renderedRichText} />
    </div>
    <a href={"/support-us"} class="mt-8">
      <Button>Donate Today</Button>
    </a>
  </div>
</div>
