---
import type { InstagramFeedStoryblok } from "@/component-types";
import { Alert, AlertTitle } from "@/components/ui/alert";
import { Skeleton } from "@/components/ui/skeleton";
import { actions } from "astro:actions";
import InstagramPost from "@/components/InstagramPost";
import type { InstagramPost as InstagramPostType } from "@/types";

const { blok } = Astro.props as { blok: InstagramFeedStoryblok };

const { data: posts, error } = await actions.fetchInstagramPosts({
  limit: parseInt(blok.limit),
});
---

<div class="space-y-6 flex flex-col p-8 bg-[#FEFCF5] pb-32">
  <div class="flex items-center gap-2">
    <img
      src="https://cdn.simpleicons.org/instagram"
      alt="Instagram"
      width={24}
      height={24}
    />
    <h2 class="text-2xl font-bold align-middle">Latest from Instagram</h2>
  </div>

  <div class="flex flex-row gap-4 overflow-x-auto">
    {
      error ? (
        <Alert>
          <AlertTitle>Error</AlertTitle>
          {error.message}
        </Alert>
      ) : (
        posts
          .slice(0, parseInt(blok.limit))
          .map((post: InstagramPostType) => (
            <InstagramPost client:load post={post} />
          ))
      )
    }
  </div>
</div>
