---
import type { NavbarStoryblok } from '@/component-types';
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro';
import { Image } from 'astro:assets';
import { twMerge } from 'tailwind-merge';

const { blok } = Astro.props as { blok: NavbarStoryblok };

const { pathname } = Astro.url;
---

<div
    class="fixed w-full top-0 left-0 z-50 flex flex-row gap-4 justify-between items-center p-6 bg-white/80 transition-all rounded-b-xl drop-shadow-md"
>
    <div class="flex flex-row gap-4">
        <a href="/">
            <Image
                src={blok.logo.filename ?? ''}
                alt={blok.logo.name}
                width={50}
                height={50}
            />
        </a>
    </div>
    <div class="flex flex-row gap-4">
        {
            blok.menu_items.map((item) => {
                const href =
                    item.link.linktype === 'story'
                        ? item.link.cached_url
                        : item.link.url;
                const active = href === pathname.slice(1); // to remove the slash

                return (
                    <a
                        href={href}
                        class={twMerge(
                            'hover:text-black uppercase font-bold text-black/50',
                            active && 'text-black'
                        )}
                    >
                        {item.name}
                    </a>
                );
            })
        }
    </div>
    <div class="flex flex-row gap-4 items-center">
        {blok.social_links?.map((link) => <StoryblokComponent blok={link} />)}
    </div>
</div>
