---
import Layout from "@/layouts/Layout.astro";
import Section from "@/storyblok/Section.astro";
import { useStoryblokGet } from "@/utils";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";

const { data } = await useStoryblokGet("cdn/stories/classes");
---

<Layout title="Classes">
  <StoryblokComponent blok={data.story.content} />
  <div class="bg-black text-[#FEFCF5] w-full h-full flex flex-col pb-20 pt-10">
    <h1 class="font-bold text-5xl p-8 uppercase font-serif mx-auto">Classes</h1>
    {
      data.story.content.sections?.map((section: any) => (
        <Section section={section} />
      ))
    }
  </div>
</Layout>
