---
import Layout from "@/layouts/Layout.astro";
import { useStoryblokGet } from "@/utils";
import type { PageClassesStoryblok } from "@/component-types";
import Slideshow from "@/components/Slideshow";
import { renderRichText } from "@storyblok/astro";
import VerticalBordersLayout from "@/layouts/VerticalBordersLayout.astro";

const { data } = await useStoryblokGet("cdn/stories/classes");

const blok = data.story.content as PageClassesStoryblok;

const textRendered = renderRichText(blok.text);
---

<Layout title="Classes" colorScheme="inverted">
  <div
    class="flex w-full flex-col gap-8 sm:flex sm:flex-row sm:items-stretch"
  >
    <video
      playsinline
      controls
      autoplay
      class="w-full sm:w-[60%] xl:w-[65%] h-auto rounded-xl flex-none"
      onloadedmetadata="this.volume=0.5"
    >
      <source src={blok.video?.filename} type="video/mp4" />
    </video>
    <div
      class="flex w-full sm:w-[40%] xl:w-[35%] h-auto !text-background bg-foreground/80 bg-blend-darken rounded-xl aspect-square p-8 bg-cover"
      style={{
        backgroundImage: `url(${blok.text_background.filename})`,
      }}
    >
      <div
        set:html={textRendered}
        class="my-auto text-base md:text-xs lg:text-sm xl:text-base text-left"
      />
    </div>
  </div>
</Layout>
