---
import Layout from "@/layouts/Layout.astro";
import { useStoryblokGet } from "@/utils";
import type { PageClassesStoryblok } from "@/component-types";
import Slideshow from "@/components/Slideshow";
import { renderRichText } from "@storyblok/astro";

const { data } = await useStoryblokGet("cdn/stories/classes");

const blok = data.story.content as PageClassesStoryblok;

const textRendered = renderRichText(blok.text);
---

<Layout title="Classes">
  <div class="w-full h-full flex flex-col pb-20 pt-10 bg-foreground">
    <h1 class="font-bold text-5xl p-8 uppercase font-serif mx-auto text-background">Classes</h1>
    <div class="flex flex-col gap-8 sm:grid sm:grid-cols-2 p-16">
      <Slideshow slides={blok.slideshow} client:load />
      <div
        class="flex !text-background bg-foreground/80 bg-blend-darken rounded-xl aspect-square w-full p-8 bg-cover"
        style={{
          backgroundImage: `url(${blok.text_background.filename})`,
        }}
      >
        <div set:html={textRendered} class="my-auto text-2xl"/>
      </div>
    </div>
  </div>
</Layout>
