---
import Layout from '@/layouts/Layout.astro';
import { useStoryblokGet } from '@/utils';
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro';

const { data } = await useStoryblokGet('cdn/stories/contact-us');
---

<Layout title="Contact Us">
    <StoryblokComponent blok={data.story.content} />
    <div class="w-full flex flex-col gap-8 sm:grid sm:grid-cols-2">
    </div>
</Layout>
