---
import { Image } from "astro:assets";

const { linkType, url } = Astro.props as { linkType: string; url: string };

const iconPath = "https://cdn.simpleicons.org/" + linkType;
---

<a href={url} target="_blank" class="group cursor-pointer">
  <Image
    src={iconPath + "/A00A0A"}
    width={20}
    height={20}
    alt={linkType}
    class="group-hover:hidden"
  />
  <Image
    src={iconPath}
    width={20}
    height={20}
    alt={linkType}
    class="hover:scale-125 duration-200 transition-transform hidden group-hover:flex"
  />
</a>
