<div class="flex">
  <!-- Left border -->
  <div
    class="hidden md:flex bg-[url('/src/images/saree_vertical.png')] bg-repeat-y bg-contain w-7"
  >
  </div>

  <!-- Main content -->
  <div class="flex-1 overflow-hidden">
    <slot />
  </div>

  <!-- Right border -->
  <div
    class="hidden md:flex bg-[url('/src/images/saree_vertical.png')] bg-repeat-y bg-contain w-7"
  >
  </div>
</div>
