<div class="flex">
  <!-- Left border -->
  <div
    class="bg-[url('/src/images/saree_vertical.jpeg')] bg-repeat-y bg-contain w-20"
  >
  </div>

  <!-- Main content -->
  <div class="flex-1">
    <slot />
  </div>

  <!-- Right border -->
  <div
    class="bg-[url('/src/images/saree_vertical.jpeg')] bg-repeat-y bg-contain w-20"
  >
  </div>
</div>
